{% extends "base.html" %}

{% block header %}
    <div></div>
    <a href="{{ url_for('index') }}">Tradehere</a>
    <div></div>
{% endblock %}

{% block content %}
    <div class="login-page">
        <div class="form">
            <form class="login-form" id="login-form">
                <input type="email" id="email" name="username" placeholder="email" required/>
                <input type="password" id="password" name="password" placeholder="password" required/>
                <p id="error"></p>
                <button id="submit">login</button>
            </form>
        </div>
    </div>
    <script>
        const indexLink = "{{ url_for('index') }}";
    </script>
    <script src="{{ url_for('static', path='/js/login.js') }}"></script>
{% endblock %}
