{% extends "base.html" %}

{% block header %}
    <div>
        <select id="trading-pairs"></select>
    </div>
    <a href="{{ url_for('index') }}">Tradehere</a>
    <div class="user-info">
        <a href="{{ url_for('deposite') }}" id="deposit" class="button-link">Deposit</a>
        <a href="{{ url_for('login') }}" id="login" class="button-link">Log In</a>
        <a href="{{ url_for('signup') }}" id="signup" class="button-link">Sign Up</a>
        <div class="dropdown" id="balances">
            <button class="dropbtn" id="user-details">My Balances</button>
            <div class="dropdown-content" id="balances-content"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="tickers-container">
        <div id="tickers">
            <canvas id="tickers-chart"></canvas>
        </div>
        <div id="tickers-info">
            <div id="orders">
                <div id="order-header">
                    <div id="order-price">Price</div>
                    <div id="order-qty">Amount</div>
                </div>
                <div id="sell-orders"></div>
                <div id="buy-orders"></div>
            </div>
            <div id="trades"></div>
        </div>
        <div id="user-orders">
            <div id="create-order">
                <form id="order-form">
                    <label for="orderSide">Order Type:</label>
                    <select id="orderSide" name="orderSide">
                        <option value="buy">Buy</option>
                        <option value="sell">Sell</option>
                    </select>
            
                    <label for="quantity">Quantity:</label>
                    <input type="number" step="0.001" id="quantity" name="quantity">
            
                    <label for="price">Price:</label>
                    <input type="number" step="0.001" id="price" name="price">
            
                    <button type="submit" id="submit-order">Create Order</button>
                </form>
            </div>
            <div id="user-open-orders"></div>
        </div>
    </div>
    
    <script>
        var lastOrders = {};
        var lastTrades = {};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', path='/js/index.js') }}"></script>
    <script src="{{ url_for('static', path='/js/websocket.js') }}"></script>
{% endblock %}
